/* Common elements */

* {
  font-family: 'Courier New', Courier, monospace;
  cursor: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

body {
  background-color: black;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
  transition: all 500ms;

}

a:visited {
  color: white;
  text-decoration: none;

}

a:hover {
  text-decoration: line-through;
  color: #f542d1;
  font-size: 1.3vw;

}

a:active {
  text-decoration: none;
  color: white;

}

/* HEADER */

#site-header {
  position: fixed;
  height: 4vw;
  background: black;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all .5s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
}

#site-header.hide {
  top: -100px;
}

#links {
  letter-spacing: 0.15vw;
  position: absolute;
  right: 3vw;
  top: 1.6vw;
  font-size: 1.2vw;
  z-index: 2;
}

#links.hover {
  text-decoration: line-through;
  text-align: center;
  text-decoration: line-through;
  color: #f542d1;
}

#links.visited {
  color: white;
  text-decoration: none;
}

#hands {
  position: absolute;
  top: 1vw;
  width: 3vw;
  left: 1vw;
}

#pagetitle {
  color: white;
  letter-spacing: 0.15vw;
  font-weight: lighter;
  font-size: 1.2vw;
  position: absolute;
  left: 5.1vw;
  top: 1.3vw;
  z-index: 1;
}

/* INTRODUCTION */

#title {
  letter-spacing: 0.2vw;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  position: absolute;
  left: 3vw;
  top: 9vw;
  text-align: left;
}

#introduction {
  letter-spacing: 0.1vw;
  font-weight: lighter;
  font-size: 1.1vw;
  position: absolute;
  left: 3vw;
  top: 22vw;
  text-align: left;
  width: 50%;
}

#statue {
  position: absolute;
  border: 1px solid black;
  border-width: thin;
  top: 9vw;
  left: 57%;
  width: 25vw;
  border-radius: 30%;
}

/* STACK */

#stacktitle {
  position: absolute;
  top: 50vw;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  letter-spacing: 0.15vw;
}

#pinkarrowstack {
  position: absolute;
  top: 50vw;
  left: 35vw;
  width: 18vw;
  z-index: -1;

}

/* STACK TITLES */

#frontstack {
  position: absolute;
  font-size: 1.1vw;
  top: 56vw;
  left: 28%;
  text-decoration: underline;
}

#backstack {
  position: absolute;
  font-size: 1.1vw;
  top: 56vw;
  width: 100%;
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

#framestack {
  position: absolute;
  font-size: 1.1vw;
  top: 56vw;
  left: 66%;
  text-decoration: underline;
}

/* LINES SEPARATING STACK CATEGORIES */

#leftline {
  position: absolute;
  border-left: 0.05vw solid white;
  height: 14vw;
  width: 0.05vw;
  left: 27%;
  top: 58vw;
  z-index: 2;
}

#midline {
  position: absolute;
  border-left: 0.05vw solid white;
  height: 14vw;
  width: 0.05vw;
  top: 58vw;
  z-index: 2;
  left: 46.5%;
}

#rightline {
  position: absolute;
  border-left: 0.05vw solid white;
  height: 14vw;
  width: 0.05vw;
  left: 65%;
  top: 58vw;
  z-index: 2;
}

/* ICONS */

.icons {
  font-size: 2.5vw;
  writing-mode: vertical-rl;
}

/* FRONT ICONS */

.fronties {
  position: absolute;
  left: 25%;
}

#html {
  position: absolute;
  top: 58vw;
}

#css {
  position: absolute;
  top: 62.5vw;
}

#jsfront {
  position: absolute;
  top: 67vw;
}

/* BACK ICONS */

.backies {
  position: absolute;
  left: 44%;
}

#ruby {
  position: absolute;
  top: 58vw;
}

#jsback {
  position: absolute;
  top: 62.5vw;
}

#postgresql {
  position: absolute;
  top: 67vw;
}


/* DEVOPS / FRAMEWORKS ICONS */

.framies {
  position: absolute;
  left: 63%;
}

#aws {
  position: absolute;
  top: 58vw;
}

#heroku {
  position: absolute;
  top: 62.5vw;
}

#rails {
  position: absolute;
  top: 67vw;
}


/* STACK TEXT */

.languages {
  position: absolute;
  top: 57.5vw;
  line-height: 4vw;
  font-size: 1.1vw;
  letter-spacing: 0.15vw;
}

#frontlanguages {
  position: absolute;
  left: 29vw;
}

#backlanguages {
  position: absolute;
  left: 48.5vw;
}

#frameworks {
  position: absolute;
  left: 67vw;
}

/* PORTFOLIO */


#portfoliotitle {
  position: absolute;
  top: 80vw;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  letter-spacing: 0.15vw;
  font-weight: lighter;
}

#mfttitle {
  position: absolute;
  top: 86vw;
  left: 23%;
  margin: auto;
  text-align: center;
  font-size: 1.1vw;
  z-index: 100;
}

#tbgtitle {
  position: absolute;
  top: 86vw;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.1vw;
}

#clienttitle {
  position: absolute;
  top: 86vw;
  left: 64.5%;
  font-style: italic;
  font-size: 1.1vw;
}


#mftscreen {
  position: absolute;
  border: 1px solid black;
  border-width: thin;
  top: 88vw;
  left: 22.5%;
  width: 15vw;
  border-radius: 10px;
}



#tbgscreen {
  position: absolute;
  border: 1px solid black;
  border-width: thin;
  top: 88vw;
  left: 42.5%; 
  width: 15vw;
  border-radius: 10px;
}



#clientscreen {
  position: absolute;
  border: 1px solid black;
  border-width: thin;
  top: 88vw;
  left: 63%;
  width: 15vw;
  border-radius: 10px;
}


/* GET IN TOUCH */

#inbox-message {
  letter-spacing: 0.1vw;
  font-weight: lighter;
  font-size: 1.1vw;
  position: absolute;
  top: 105vw;
  line-height: 1.8vw;
  width: 100%;
  text-align: center;
}

#button-30 {
  align-items: center;
  background-color: #FCFCFD;
  color: black;
  border-radius: 1vw;
  border-width: 0;
  box-sizing: border-box;
  display: inline-flex;
  height: 3vw;
  line-height: 1;
  overflow: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  top: 121vw;
  left: 46%;
}

#pinkarrowtouch {
  position: absolute;
  top: 116vw;
  left: 45vw;
  width: 18vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


/* SIDE LINES PAGE */

#github {
  font-size: 1.5vw;
  border: none;
  text-decoration: none;
  position: fixed;
  left: 2.5vw;
  bottom: 14%;
}

#linkedin {
  font-size: 1.5vw;
  border: none;
  text-decoration: none;
  position: fixed;
  left: 2.5vw;
  bottom: 10%;
}

#email {
  letter-spacing: 0.3vw;
  font-weight: normal;
  color: white;
  position: fixed;
  padding: 0vw;
  font-size: 1vw;
  writing-mode: vertical-rl;
  right: 2.5vw;
  bottom: 10%;
  z-index: 2;
}

email:hover {
  font-size: 1.3vw;
  text-decoration: line-through;
  color: #f542d1;
}

email:link {
  text-decoration: none;
  color: white;
  transition: all 500ms;

}

#v_line {
  position: fixed;
  border-left: 0.05vw solid white;
  padding: 0vw;
  height: 7%;
  width: 0.1vw;
  right: 3vw;
  bottom: -1%;
  z-index: 2;
}

#v_line2 {
  position: fixed;
  border-left: 0.05vw solid white;
  padding: 0vw;
  height: 7%;
  width: 0.1vw;
  left: 3vw;
  z-index: 2;
  bottom: -1%;
}

/* FOOTER */

.footer {
  letter-spacing: 0.2vw;
  font-weight: lighter;
  font-size: 1.2vw;
  color: white;
  position: absolute;
  left: 41vw;
  top: 135vw;
  line-height: 0.7vw;
  text-align: center;
}

/* TYPEWRITER EFFECT */

.container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: .20em solid white;
  border-radius: 2px;
  white-space: nowrap;
  animation:
    typing 1.5s steps(15, end) forwards,
    blinking 1.5s infinite 20s;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 39%
  }
}


/* CURSOR EFFECT */

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 400;
  top: 400;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 100;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 100;
}

.hover {
  background-color: white;
  opacity: 0.2;
  z-index: 100;
  position: fixed;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
  z-index: 100;
  position: fixed;
}