@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import "components/contact.css";
@import "components/header.css";
@import "components/footer.css";
@import "components/portfolio.css";
@import "components/intro.css";
@import "components/stack.css";
@import "components/sides.css";
@import "components/tip.css";

body {
  cursor: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
  font-size: 1.1vw;
  letter-spacing: 0.15vw;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.1vw;
  letter-spacing: 0.15vw;
  font-weight: lighter;
}

/* TITLES */
.title {
  position: relative;
  font-weight: lighter;
  font-size: 1.5vw;
  text-align: center;
  z-index: 100;
  margin-top: 10%;
  line-height: 1.5em;
}

/* HOVERING */
a {
  text-decoration: none;
  color: white;
  transition: all 500ms;
}

a:link {
  text-decoration: none;
  transition: all 500ms;
}

a:visited {
  text-decoration: none;
}

.link-deco:hover {
  text-decoration: line-through;
  color: #49cede;
  font-size: 1.15vw;
}

a:active {
  text-decoration: none;
}

/* TYPEWRITER EFFECT */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 52%;
  }
}
/* CURSOR EFFECT */
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0px;
  top: 0px;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 100;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 100;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  z-index: 100;
  position: fixed;
}
