.container-contact {
  position: relative;
  margin-top: 3%;
  width: 60%;
  left: 20%;
  height: 50%;
  text-align: center;
}

#contact-message {
  font-weight: lighter;
  text-align: center;
}

#button-contact {
  margin-top: 4em;
  align-items: center;
  background-color: #968CE7;
  border-radius: 1vw;
  border-width: 0;
  box-sizing: border-box;
  display: inline-flex;
  height: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

#button-contact:hover {
  background-color: white;
  color: #968CE7;
  border: 1px solid #968CE7;
  text-decoration: none;
}

#arrow-contact {
  position: absolute;
  left: 43%;
  top: 25%;
  width: 18vw;
  transform: scaleX(-1);
  z-index: -1;
}
