
.container-contact {
  position: absolute;
  top: 170%;
  width: 60%;
  left: 20%;
  height: 50%;
  text-align: center;
}

#contact-message {
  margin-top: 10vh;
  font-weight: lighter;
  text-align: center;
}

#button-30 {
  margin-top: 5vh;
  align-items: center;
  background-color: $purple;
  border-radius: 1vw;
  border-width: 0;
  box-sizing: border-box;
  display: inline-flex;
  height: 3vw;
  line-height: 1;
  overflow: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

#button-30:hover {
  background-color: white;
  color: $purple;
  border: 1px solid $purple;
  text-decoration: none;

}




#arrow-contact {
  position: absolute;
  left: 44%;
  top: 30%;
  width: 18vw;
  transform: scaleX(-1);
  z-index: -1;
}
