.container-footer {
  position: absolute;
  top: 215%;
  width: 60%;
  left: 20%;
  height: 5%;
  z-index: 10;
  padding-top: 5%;

  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  font-weight: lighter;
  line-height: 0.7vw;
  text-align: center;

}
