.container-footer {
  position: relative;
  margin-top: 10%;
  height: 5%;
  padding-top: 5%;
  font-weight: lighter;
  line-height: 0.7vw;
  text-align: center;
}

#bottom {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
