#site-header {
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}

#site-header.hide {
  top: -100px;
}

#links {
  position: absolute;
  right: 3vw;
  top: 3vh;
  z-index: 2;
}

#hands {
  position: absolute;
  top: 1vw;
  width: 3vw;
  left: 1vw;
}

#pagetitle {
  font-weight: lighter;
  position: absolute;
  font-size: 20px;
  left: 5.1vw;
  top: 3vh;
  z-index: 1;
}

#pagetitle:hover {
  color: #49cede;
  transition: 1s;
}

@media (max-width: 1024px) {
  #pagetitle {
    visibility: hidden;
  }
}
