.container-intro {
  position: relative;
  margin-top: 10%;
  width: 60%;
  left: 20%;
  /* border: 0.5px solid white; */
}

/* INTRODUCTION */
.statue {
  float: right;
  width: 23%;
  border-radius: 30%;
}

.typewriter-intro {
  position: relative;
  margin-bottom: 4%;
  left: 0%;
  width: 60%;
  font-weight: bold;
  font-size: 3vw;
  overflow: hidden;
  border-right: 0.2em solid white;
  border-radius: 2px;
  white-space: nowrap;
  animation: typing 1.5s steps(15, end) forwards, blinking 1.5s infinite 20s;
}

.introduction {
  position: relative;
  /* top: 29%; */
  width: 70%;
  font-weight: lighter;
  text-align: left;
}
