.container-intro {
  position: relative;
  margin-top: 10%;
  width: 60%;
  left: 20%;
  /* border: 0.5px solid white; */
}

/* INTRODUCTION */
.statue {
  float: right;
  width: 24%;
  border-radius: 30%;
  margin-top: 45px;
}

.typewriter-intro {
  position: relative;
  margin-bottom: 4%;
  left: 0%;
  width: 60%;
  font-weight: bold;
  font-size: 3vw;
  overflow: hidden;
  border-right: 0.2em solid white;
  border-radius: 2px;
  white-space: nowrap;
  animation: typing 1.5s steps(15, end) forwards, blinking 1.5s infinite 20s;
}

.introduction {
  position: relative;
  width: 70%;
  font-weight: lighter;
  text-align: left;
}

/* For tablets or smaller desktops */
@media (max-width: 1024px) {
  .container-intro {
    width: 70%; /* Slightly larger than on bigger screens */
    left: 15%; /* Adjust the position accordingly */
    margin-top: 90px;
  }
  .statue {
    visibility: hidden;
  }

  .introduction {
    width: 100%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .container-intro {
    width: 80%; /* Even larger for mobile devices */
    left: 10%; /* Center it more */
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .container-intro {
    width: 90%; /* Almost full width */
    left: 5%; /* Center it as much as possible */
  }
}
