.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* This will center the tiles horizontally */
  gap: 20px;
  padding: 20px;
}

.project-tile {
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  flex: 0 1 200px; /* Adjust the flex-basis (200px here) based on the desired width of the tiles */
}

.project-tile img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain; /* Image is scaled down to fit, no cropping */
  width: 100%;
  height: auto;
}

.project-tile h3,
.project-tile p {
  padding: 10px;
}

.category-title {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
  color: #333; /* or any color that matches your design */
}
