/* SIDE LINES PAGE */

.side-logos {
  border: none;
  text-decoration: none;
  position: fixed;
  font-size: 1.3em;
  transition: none;
  z-index: 100;
}

#logo-github {
  left: 2.2em;
  bottom: 4em;
}

#logo-linkedin {
  left: 2.2em;
  bottom: 5em;
  margin-bottom: 0.5em;
}

.side-logos:hover {
  color: #968ce7;
  font-size: 1.3em;
  text-decoration: none;
}

#email {
  position: fixed;
  writing-mode: vertical-rl;
  right: 2.75em;
  bottom: 5em;
}

#email:hover {
  color: #968ce7;
  text-decoration: none;
  font-size: 1.1vw;
}

.vl {
  position: fixed;
  border-left: 0.05vw solid white;
  padding: 0vw;
  height: 4em;
  width: 0.1em;
  bottom: -1%;
}

#vl-left {
  right: 3.3em;
}

#vl-right {
  left: 3.3em;
}

@media (max-width: 768px) {
  .line-side {
    visibility: hidden;
  }
}
