
/* SIDE LINES PAGE */

#github {
  border: none;
  text-decoration: none;
  position: fixed;
  font-size: 1.3vw;
  left: 2.5vw;
  bottom: 14%;
}

#linkedin {
  border: none;
  text-decoration: none;
  position: fixed;
  left: 2.5vw;
  bottom: 10%;
  font-size: 1.3vw;
}

#email {
  position: fixed;
  padding: 0vw;
  writing-mode: vertical-rl;
  right: 2.5vw;
  bottom: 10%;
  z-index: 10;
}


#v_line {
  position: fixed;
  border-left: 0.05vw solid white;
  padding: 0vw;
  height: 7%;
  width: 0.1vw;
  right: 3vw;
  bottom: -1%;
  z-index: 2;
}

#v_line2 {
  position: fixed;
  border-left: 0.05vw solid white;
  padding: 0vw;
  height: 7%;
  width: 0.1vw;
  left: 3vw;
  z-index: 2;
  bottom: -1%;
}
