.container-stack {
  position: relative;
  margin-top: 3%;
  width: 60%;
  left: 20%;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.container-stack-structure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-stack {
  text-align: center;
  width: 12vw;
  height: 10em;
  box-shadow: 12px 12px 2px 1px #49cede;
  background-color: #968ce7;
  opacity: 0.7;
  transition: 300ms;
  border-radius: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.card-stack:hover {
  opacity: 1;
}

.language-icons {
  text-align: left;
}

.language-titles {
  line-height: 5px;
  text-align: left;
}

.line {
  border-left: 0.1vw solid #49cede;
  height: 50%;
  width: 0.05vw;
  top: 30vw;
  z-index: 10;
}

#arrow-stack {
  position: absolute;
  left: 23%;
  bottom: 70%;
  width: 18vw;
  z-index: -1;
}

/* For tablets or smaller desktops */
@media (max-width: 1024px) {
  .container-stack {
    width: 70%; /* Slightly larger than on bigger screens */
    left: 15%; /* Adjust the position accordingly */
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .container-stack {
    width: 80%; /* Even larger for mobile devices */
    left: 10%; /* Center it more */
    margin-top: 5%; /* You can also reduce the top margin if needed */
  }
  #arrow-stack {
    visibility: hidden;
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .container-stack {
    width: 90%; /* Almost full width */
    left: 5%; /* Center it as much as possible */
    margin-top: 5%;
  }
  #arrow-stack {
    visibility: hidden;
  }
}
